<script src="" th:src="@{/js/libs/pagejs/itemPage/crm/myCustomChance.js}"></script>
<section class="content-header">
	<h1>
		客户管理 <small id="bankuai_title">我创建的客户机会</small>
	</h1>
	<ol class="breadcrumb">
		<li><a href="#"><i class="fa fa-dashboard"></i>首页</a></li>
		<li class="active" id="bankuai_title2">我创建的客户机会</li>
	</ol>
</section>

<!-- Main content -->
<section class="content" id="content">
	<div id="alertDiv"></div>
	<div class="row">
						<section class="col-lg-12 connectedSortable">
						<div id="myCreateCustomChance_div_alert"></div>
							<div class="box box-primary" id="myCreateCustomChance_div">
								<div class="box-header">
									<div class="box-tools">
											<div class="input-group">
											<input type="text" name="table_search" id="myCreateCustomChance_query_ChanceName"
												class="form-control input-sm pull-right" style="width: 150px;" placeholder="机会名" />
											<div class="input-group-btn">

												<button class="btn btn-sm btn-default" onclick="query_myCreateChance()">
													<i class="fa fa-search"></i>
												</button>
											</div>

										</div>
									</div>
								</div>

								<div class="box-body table-responsive" style="overflow: auto;max-height: 800px;min-height: 600px;">
									<table id="example1" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th style="text-align: center;">序号</th>
												<th style="text-align: center;">客户名称</th>
												<th style="text-align: center;">客户状态</th>
												<th style="text-align: center;">指派人</th>
												<th style="text-align: center;">创建人</th>
												<th style="text-align: center;">操作</th>
											</tr>
										</thead>
										<tbody id="myCreateCustomChance_tbody">
											
										</tbody>
									</table>
								</div>

								<div class="box-footer clearfix">
									<ul class="pagination pagination-sm no-margin pull-right" id="myCreateCustomChance_tbody_page">

									</ul>
								</div>
							</div>
						</section>
		
	</div>
	<div id="window"></div>

</section>
<!-- /.content -->
<script type="text/x-jsrender" id="myCreateCustomChance_tbody_tr">
<!--
	<tr>
								<td width="10%" align="center">{{>#index+1}}</td>
								<td width="30%" align="center">{{>customerName}}</td>
								{{if  state==1}}
									<td width="10%" align="center">普通机会</td>
								{{else state==2}}
									<td width="10%" align="center">优质机会</td>
								{{else state==3}}
									<td width="10%" align="center">已成客户 </td>
								{{else state==4}}
									<td width="10%" align="center">已流失</td>
								{{else state==5}}
										<td width="10%" align="center">很久没有购物</td>
								{{/if}}
								{{if  notesUserName==null}}
								<td width="20%" align="center">未指派人</td>
								{{else}}
								<td width="20%" align="center">{{>notesUserName}}</td>
								{{/if}}
								<td width="10%" align="center">{{>creayeManName}}</td>
								<td width="20%" align="center">
									<div class="btn-group">
										<button type="button" onclick="createChance('look',{{>id}},'my')" class="btn btn-danger btn-sm">查看</button>
										<button type="button" class="btn btn-danger dropdown-toggle btn-sm" data-toggle="dropdown">
											<span class="caret"></span> <span class="sr-only">更多操作</span>
										</button>
										<ul class="dropdown-menu" role="menu">
											<li><a type="button" onclick="addLinkMan({{>id}})" class="btn  btn-sm">联系人管理</a></li>
											<li><a type="button" onclick="chanceOpenInfo({{>id}})" class="btn  btn-sm">开发记录管理</a></li>
											<li><a type="button" onclick="chanceOpenMarks({{>id}})" class="btn  btn-sm">开发流程建议</a></li>
										</ul>
									</div>
								</td>
							</tr>
-->
</script>