
	.ly-plate{
		position:relative;
		width:230px;
		height:230px;
		margin: 50px auto;
	}
	.rotate-bg{
		width:100%;
		height:100%;
		background:url(ly-plate.png) no-repeat;
		background-size:100% 100%;
		position:absolute;
		top:0;
		left:0;
	}
	.ly-plate div.lottery-star{
		width:130px;
		height:130px;
		position:absolute;
		top:50px;
		left:50px;
		/*text-indent:-999em;
		overflow:hidden;
		background:url(rotate-static.png);
		-webkit-transform:rotate(0deg);*/
		outline:none
	}
	.ly-plate div.lottery-star #lotteryBtn{
		cursor: pointer;
		position: absolute;
		top:0;
		left:0;
		*left:-107px
	}
	#dazhuanpan_item{
	background:url(hong.jpg) no-repeat;
	background-size:100% 100%;
	}