body {
font-family: "ff-tisa-web-pro-1","ff-tisa-web-pro-2","Lucida Grande","Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}
body {
font-size: 14px;
line-height: 20px;
position: relative;
padding-top: 40px;
color: #333;
background-color: #fff;
}
#contentMain{
	position: absolute;
	top: 50px;
	right: 5px;
	left: 5px;
}
.main_img{
	text-align: center;
	position: absolute;
	top: 620px;
	right: 15%;
	left: 15%;
}
#hero_box{
	text-align: center;
	position: absolute;
	top: 20px;
	right: 10%;
	left: 10%;
}
.comp_main_img{
	text-align: center;
	position: absolute;
	top: 60px;
	right: 15%;
	left: 15%;
}


      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }


    