	* {margin:0;padding:0;}
	body{ font:12px "微软雅黑";}
	  ul li{ list-style:none;}
	  #schoolName { width:200px;}
	  .provinceSchool { display:none;position:absolute;width:580px;height:310px;border:1px solid #72B9D7;background-color: white; }
	  .provinceSchool .title { width:100%;height:30px;background:url(http://sandbox.runjs.cn/uploads/rs/336/jqq2hkiy/title-bg.png) repeat-x center left;}
	  .provinceSchool .title span { margin-left:10px;font-weight:600;color:#FFF;line-height:30px;}
	  .provinceSchool .proSelect { width:550px;height:22px;margin:10px 0 6px 15px;}
	  .provinceSchool .proSelect select { width:136px;}
	  .provinceSchool .proSelect input { display:none;}
	  .provinceSchool .schoolList { width:550px;height:280px;margin-left:15px;overflow-y:auto;}
	  .provinceSchool .schoolList ul { width:510px;}
	  .provinceSchool .schoolList ul li { float:left;width:158px;height:22px;margin-left:6px;padding-left:6px;line-height:22px;cursor:pointer;}
		.provinceSchool .schoolList ul li.DoubleWidthLi { width:328px;}
	  .provinceSchool .schoolList ul li:hover { background:#72B9D7;}
	  .provinceSchool .button { width:100%;height:40px;margin-top:8px;}
	  .provinceSchool .button button { float:right;height:30px;margin-right:20px;padding:4px 10px; background:url(http://sandbox.runjs.cn/uploads/rs/336/jqq2hkiy/ui-bg.png);border:none;color:#FFF;font-weight:600;cursor:pointer;}