
<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<style type="text/css">
	body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
	</style>
		<script type="text/javascript" src="../../js/libs/jquery-1.9.1.js" th:src="@{/js/libs/app.min.js}"></script>
	<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&amp;ak=FB0edc321d35d749caf17468578d6fff"></script>
		<script type="text/javascript" src="http://developer.baidu.com/map/jsdemo/demo/convertor.js"></script>
		<script type="text/javascript" th:src="@{/js/libs/pagejs/itemPage/weixin/toMap.js}"></script>
	<title>地图展示</title>
</head>
<body>
	<div id="allmap"></div>
</body>
</html>
<script type="text/javascript">
	
</script>
